:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  position: absolute;
  top: 40%;
  left: 50%;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.filter {
  margin: 10px;
  font-weight: bold;
  background-color: inherit;
}

select {
  background-color: transparent;
}

h5 {
  font-weight: 500;
  font-size: 110%;
  text-align: center;
  letter-spacing: 2px;
}

li {
  list-style: none;
  text-align: left;
}

.default-col {
  text-align: center;
}

.bold-col {
  font-weight: 500;
  font-size: 110%;
}

.count-col,
.bidQuantity-col,
.askQuantity-col
 {
  text-align: right;
}

.totals-col {
  border-top: solid 2px #777;
}

.summary-grid {
  display: grid;
  margin-top: 8px;
  grid-column-gap: 2px;
  grid-template-columns: repeat(2, 1fr) repeat(2, 2fr);
}

.list-grid {
  display: grid;
  margin-top: 8px;
  grid-template-columns: repeat(2, 1fr) repeat(4, 2fr) 1fr;
}

.plotly-chart {
  height: 100%;
  width: 100%;
}

