<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Summary
    </mat-expansion-panel-header>
    <div>
        <h5>Distinct CCY Pairs Totals</h5>
        <div class="summary-grid">
          <div class="default-col bold-col">Symbol</div>
          <div class="default-col bold-col">Count</div>
          <div class="default-col bold-col">Bid Quantity</div>
          <div class="default-col bold-col">Ask Quantity</div>
        </div>
         <div class="summary-grid" *ngFor="let ccyPair of ccyPairs">
            <div class="default-col">{{ ccyPair.symbol}}</div>
            <div class="count-col">{{ ccyPair.count | number }}</div>
            <div class="bidQuantity-col">{{ ccyPair.bidQuantity | currency: 'USD' : 'symbol' : '1.0' }}</div>
            <div class="askQuantity-col">{{ ccyPair.askQuantity | currency: 'USD' : 'symbol' : '1.0' }}</div>
       </div>
        <div class="summary-grid">
            <div class="default-col totals-col bold-col">{{ccyPairs.length}}</div>
            <div class="count-col totals-col bold-col">{{ccyPairsCounts | number}}</div>
            <div class="count-col totals-col bold-col">{{ ccyPairsBidQuantityTotals | currency: 'USD' : 'symbol' : '1.0' }}</div>
            <div class="count-col totals-col bold-col">{{ ccyPairsAskQuantityTotals | currency: 'USD' : 'symbol' : '1.0' }}</div>
        </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      List
    </mat-expansion-panel-header>
  <div>
    <span class="filter">Filter CCY Pairs</span>
      <select (change)="filterOnItem($event.target.value)" >
        <option value="">-- Select CCY Pair --</option>
        <option *ngFor="let ccyPair of ccyPairs">{{ccyPair.symbol}}</option>
      </select>
  </div>
  <div class="list-grid">
    <div class="default-col bold-col">Symbol</div>
      <div class="default-col bold-col">LP</div>
      <div class="default-col bold-col">Bid Price</div>
      <div class="default-col bold-col">Bid Quantity</div>
      <div class="default-col bold-col">Ask Price</div>
      <div class="default-col bold-col">Ask Quantity</div>
      <div class="default-col bold-col">Id</div>
    </div>
    <div class="list-grid"  *ngFor="let post of posts" >
      <div class="default-col">{{ post.symbol}}</div>
      <div class="default-col">{{ post.lp }}</div>
      <div class="bidQuantity-col">{{ post.bidPrice | number : '2.5-5' }}</div>
      <div class="bidQuantity-col">{{ post.bidQuantity | currency: 'USD' : 'symbol' : '1.0' }}</div>
      <div class="askQuantity-col">{{ post.askPrice | number : '2.5-5' }}</div>
      <div class="askQuantity-col">{{ post.askQuantity| currency: 'USD' : 'symbol' : '1.0' }}</div>
      <div class="default-col">{{ post.id }}</div>
    </div>
    <mat-paginator [length]="totalPosts"
                   [pageIndex]="pageIndex"
                   [length]="length"
                   [pageSize]="postsPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onChangedPage($event)"
                   *ngIf="posts.length > 0"></mat-paginator>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Chart
    </mat-expansion-panel-header>
      <div id="scatterChart" class="plotly-chart"></div>
  </mat-expansion-panel>
</mat-accordion>
<mat-spinner class="matSpinner" *ngIf="isLoading"></mat-spinner>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No quotes available!</p>

